Source: calamares-settings-mamolinux
Section: devel
Priority: optional
Maintainer: Himadri Sekhar Basu <hsb10@iitbbs.ac.in>
Uploaders: Simon Quigley <tsimonq2@ubuntu.com>
Build-Depends: debhelper-compat (= 13),
               dh-sequence-qmldeps,
               cmake,
               extra-cmake-modules,
               fakeroot,
               intltool,
               libapt-pkg-dev,
               libcalamares-dev (>= 3.3.13-0ubuntu4),
               libkf6coreaddons-dev,
               libqt6svg6-dev,
               libyaml-cpp-dev,
               python3,
               qt6-base-dev,
               qt6-declarative-dev,
               qt6-l10n-tools,
               qt6-tools-dev,
               qt6-tools-dev-tools
Standards-Version: 4.7.2
Homepage: https://github.com/mamolinux/calamares-settings-mamolinux
Vcs-Git: https://github.com/mamolinux/calamares-settings-mamolinux.git
Vcs-Browser: https://github.com/mamolinux/calamares-settings-mamolinux
Rules-Requires-Root: no

Package: calamares-settings-mamolinux
Architecture: all
Depends: calamares-settings-ubuntu-common (>= ${binary:Version}),
         ${misc:Depends},
         ${qml6:Depends}
Conflicts: calamares-settings-ubuntu-flavor
Provides: calamares-settings-ubuntu-flavor
Description: MamoLinux Calamares Settings and Branding
 This package contains the Calamares settings and branding for MamoLinux.
 As part of the branding the installer slideshow is contained within.
 The settings ensure a proper MamoLinux desktop is installed with
 a desktop environment of user's choice.

Package: calamares-settings-ubuntu-common
Architecture: any
Depends: calamares (>= 3.3.13-0ubuntu4),
         calamares-settings-ubuntu-common-data (= ${binary:Version}),
         cryptsetup,
         dracut-core,
         kdialog,
         keyutils,
         libglib2.0-bin,
         snapd-seed-glue,
         squashfs-tools,
         sudo,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Common Calamares Settings
 This package contains the common Calamares settings for all flavors.
 There is also a automirror Python script to set sources based on
 geolocation.
 .
 Common settings for all Ubuntu flavors.

Package: calamares-settings-ubuntu-common-data
Architecture: all
Depends: ${misc:Depends},
         python3,
         python3-distro,
Conflicts: calamares-settings-ubuntu-common (<< 1:25.04.16)
Replaces: calamares-settings-ubuntu-common (<< 1:25.04.16)
Description: Data for Common Calamares Settings
 This package contains the common Calamares settings for all flavors.
 There is also a automirror Python script to set sources based on
 geolocation.
 .
 Architecture-independent data for the common Calamares settings.
