Source: calamares-settings-mamolinux
Section: devel
Priority: optional
Maintainer: Himadri Sekhar Basu <hsb10@iitbbs.ac.in>
Uploaders: Simon Quigley <tsimonq2@ubuntu.com>
Build-Depends: debhelper-compat (= 13), intltool, qttools5-dev-tools
Standards-Version: 4.6.0
Homepage: https://code.launchpad.net/ubuntu-calamares-settings
Vcs-Git: https://git.launchpad.net/ubuntu-calamares-settings
Vcs-Browser: https://git.launchpad.net/ubuntu-calamares-settings

Package: calamares-settings-mamolinux
Architecture: all
Depends: calamares-settings-ubuntu-common (>= ${binary:Version}),
         ${misc:Depends}
Breaks: calamares-settings-lubuntu, calamares-settings-ubuntustudio
Conflicts: calamares-settings-lubuntu, calamares-settings-ubuntustudio
Description: MamoLinux Calamares Settings and Branding
 This package contains the Calamares settings and branding for MamoLinux.
 As part of the branding the installer slideshow is contained within.
 The settings ensure a proper MamoLinux is installed with the
 a desktop environment of user's choice.

Package: calamares-settings-ubuntu-common
Architecture: any
Depends: calamares (>= 3.2.14~),
         cryptsetup,
         keyutils,
         python3,
         qml-module-qtquick-window2,
         qml-module-qtquick2,
         squashfs-tools,
         ${misc:Depends}
Description: Common Calamares Settings
 This package contains the common Calamares settings for all flavors.
 There is also a automirror Python script to set sources based on
 geolocation.
 