Source: calamares-settings-mamolinux
Section: devel
Priority: optional
Maintainer: Himadri Sekhar Basu <hsb10@iitbbs.ac.in>
Uploaders: Simon Quigley <tsimonq2@ubuntu.com>
Build-Depends: calamares (>= 3.3.5),
               cmake,
               debhelper-compat (= 13),
               extra-cmake-modules,
               fakeroot,
               golang-github-snapcore-snapd-dev (>= 2.62),
               golang-go,
               golang-gopkg-yaml.v2-dev,
               intltool,
               libkf5coreaddons-dev,
               libqt5svg5-dev,
               libyaml-cpp-dev,
               qtbase5-dev,
               qtdeclarative5-dev,
               qttools5-dev,
               qttools5-dev-tools
Standards-Version: 4.6.2
Homepage: https://github.com/mamolinux/calamares-settings-mamolinux
Vcs-Git: https://github.com/mamolinux/calamares-settings-mamolinux.git
Vcs-Browser: https://github.com/mamolinux/calamares-settings-mamolinux
Rules-Requires-Root: no

Package: calamares-settings-mamolinux
Architecture: all
Depends: calamares-settings-ubuntu-common (>= ${binary:Version}),
         ${misc:Depends}
Breaks: calamares-settings-lubuntu, calamares-settings-ubuntustudio
Conflicts: calamares-settings-lubuntu, calamares-settings-ubuntustudio
Description: MamoLinux Calamares Settings and Branding
 This package contains the Calamares settings and branding for MamoLinux.
 As part of the branding the installer slideshow is contained within.
 The settings ensure a proper MamoLinux is installed with the
 a desktop environment of user's choice.

Package: calamares-settings-ubuntu-common
Architecture: any
Depends: calamares (>= 3.2.14~),
         cryptsetup,
         kdialog,
         keyutils,
         python3,
         python3-distro,
         qml-module-qtquick-window2,
         qml-module-qtquick2,
         squashfs-tools,
         sudo,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Common Calamares Settings
 This package contains the common Calamares settings for all flavors.
 There is also a automirror Python script to set sources based on
 geolocation.
